<h2>Hero List</h2>

<ul class="items">

    <li *ngFor="let hero of heroes | async"
        [class.selected]="isSelected(hero)"
        (click)="onSelect(hero)">

        <span class="badge">{{ hero.id }}</span> {{ hero.name }}

    </li>
    
</ul>

<button routerLink="./../sidekicks">Go to sidekicks</button>

<div>
    <p>Session ID: {{ sessionId | async }}</p>
    <a id="anchor"></a>
    <p>Token: {{ token | async }}</p>
</div>


<div>
    Pick your favorite hero（<label><input type="checkbox" checked (change)="showSad=!showSad">show sad</label>）
    <select [(ngModel)]="selectedHero">
       <option *ngFor="let hero of heroes | async"
           *ngIf="showSad || hero.emotion !== 'sad'"
                 [ngValue]="hero">{{ hero.name }}({{ hero.emotion}})</option>
           
    </select>
</div>