<app-title [subtitle]="subtitle"></app-title>

<nav>
    <a routerLink="contact" routerLinkActive="active">Contact</a>
    <a routerLink="crisis" routerLinkActive="active">Crisis</a>
    <a routerLink="heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/keyup" routerLinkActive="active">Key Up</a>
    <a routerLink="/hero-form" routerLinkActive="active">Hero Form</a>
</nav>

<router-outlet ></router-outlet>

<my-sizer [(mySize)]="fontSizePx"></my-sizer>
<div [style.font-size.px]="fontSizePx">text xx</div>