<link rel="stylesheet" href="app/style1.scss">

<app-title [subtitle]="subtitle"></app-title>

<nav>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/crisis" routerLinkActive="active">Crisis</a>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a [routerLink]="[{ outlets: { ro1: ['keyup'] } }]" routerLinkActive="active">Key Up</a>
    <a routerLink="/hero-form" routerLinkActive="active">Hero Form</a>
    <a routerLink="/toh" routerLinkActive="active">Toh</a>
    <a routerLink="/toh/list-promise" routerLinkActive="active">Toh Promise</a>
    <a routerLink="/toh/wiki" routerLinkActive="active">Wiki Serach</a>
    <a routerLink="./toh/flying" routerLinkActive="active">Flying</a>
    <a routerLink="./toh/async" routerLinkActive="active">Async</a>
    <a routerLink="./toh/fetch" routerLinkActive="active">Fetch</a>
    <!--<a [routerLink]="[{}]">Tohs</a>-->
</nav>

<router-outlet ></router-outlet>
<router-outlet name="ro1"></router-outlet>

<my-sizer [(mySize)]="fontSizePx"></my-sizer>
<div [style.font-size.px]="fontSizePx">text xx</div>