<h3 highlight>Crisis List</h3>
<h3 highlight [myHighlight]="'red'" style="background-color: green">Crisis List2</h3>
<h3 highlight [myHighlight]="highLightColor">Crisis List2</h3>

<div *ngFor="let crisis of crises | async" 
    (@crisisState.start)="animationStarted($event)"
    (@crisisState.done)="animationEnd($event)"
    [@crisisState]="crisis.state"
    (contextmenu)="crisis.toggleState($event)"
    routerLink="{{ '../' + crisis.id }}"
    >
        {{crisis.id}} - {{crisis.name}}
</div>
